<% lista.forEach(function(producto) { %>
	<tr>
		<th class="text-center align-middle" scope="row">
			<%= producto.title %>
		</th>
		<td class="text-center align-middle" scope="col">
			$ <%= producto.price %>.00
		</td>
		<td class="text-center" scope="col">
			<img src="<%= producto.thumbnail %>">
		</td>
	</tr>
	<% }) %>