<div class="container mt-5">
	<h1 class=" text-center">Vista Productos</h1>
	<table class="table table-striped table-primary table-hover table-bordered border-primary mt-4">
		<thead class="table-dark">
			<tr>
				<th class="text-center" scope="col">Nombre</th>
				<th class="text-center" scope="col">Precio</th>
				<th class="text-center" scope="col">foto</th>
			</tr>
		</thead>
		<tbody>
			<% if (lista.length===0) { %>
		<tfoot>
			<td colspan="3">No hay productos</td>
		</tfoot>
		<% }else{ %>
			<%- include('../partials/productos') %>
				<% } %>
					</tbody>
	</table>
	<div class="d-flex justify-content-center gap-5 mt-4">
		<a href="/" class="btn btn-outline-primary">Ingresar Productos</a>
	</div>
</div>