<!DOCTYPE html>
<html lang="es">
<head>
	<%- include('../partials/head') %>
</head>
<body class="container">
	<% if (pagina==='' ) { %>
		<%- include('../partials/form') %>
			<% }else{ %>
				<%- include('../partials/tabla') %>
					<% } %>
</body>
</html>