<div class="row text-center my-4">
   <h2 class="my-3">Chat de clientes</h2>
   <form onsubmit="return addMessage(this)">
      <input type="email" id="usuario" placeholder="Ingresa email" />
      <input type="text" id="texto" placeholder="Cuentanos tus dudas..." />
      <input type="submit" value="Enviar" />
   </form>
   <div class="form__container" id="mensajes"></div>
</div>